
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    background-color: #000000;
    color: white;
    padding: 20px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(2, 255, 255);
    font-weight: bold;
}

.contenedor {
    display: flex; 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenido {
    flex: 1;
    padding-right: 20px; 
}

.imagen-contenedor {
    flex-shrink: 0; 
    max-width: 400px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer{
    text-decoration: none;
    color: rgb(252, 252, 252);
    font-weight: bold;
    
    text-align: FLEX;
    padding: 10px;
    background-color: #7d7d7d;
    
    
}
 aside{
    image-rendering: auto;
    max-width: 50px;
    margin: 10 auto;
    display: flex;
    text-decoration: dotted;
    display: flex;
    margin: 5;
 }
